<h1>Welcome to the <span class="strike">jungle</span> Streichelzoo</h1>


<div class="crab">
  <h2>Mr. Happy Crab</h2>
  <div class="around">
    <div class="circle1"></div>
    <div class="circleLeft"></div>
    <div class="circleRight"></div>
    <div class="circleLeftWhite"></div>
    <div class="circleRightWhite"></div>
    <div class="legs"></div>
    <div class="legsWhite"></div>
    <div class="legs2"></div>
    <div class="legsWhite2"></div>
    <div class="eyeLeft"></div>
    <div class="eyeRight"></div>
    <div class="mouth"></div>
    <div class="mouthRed"></div>
    <div class="antennaLeft"></div>
    <div class="antennaRight"></div>
  </div>
</div>


<div class="chimp">
  <h2>Shrimp the Chimp</h2>
  <div class="around">
    <div class="circle1"></div>
    <div class="circleLeft"></div>
    <div class="circleRight"></div>
    <div class="circleLeftWhite"></div>
    <div class="circleRightWhite"></div>
    <div class="circleMouth"></div>
    <div class="mouth"></div>
    <div class="mouthBeige"></div>
    <div class="eyeLeft"></div>
    <div class="eyeRight"></div>
    <div class="nose"></div>
    <div class="legs"></div>
    <div class="legsWhite"></div>
    <div class="legs2"></div>
    <div class="legsWhite2"></div>

    <div class="antennaLeft"></div>
    <div class="antennaRight"></div>
  </div>
</div>